/* selektor znacznika */
p 
{
    color: blue;
    font-size: 18px;
    background: yellow;
}

/* selekttor id */
#identyfikator
{
    background: grey;
    color: white;
    font-size: 21 px;
}

/* selektor klasy */

.przyklad
{
    background: blue;
    color: black;
    font-size: 16px;
}

/* łączenie selektorów */
a, span {
    color: red;
    text-decoration: underline;
}

/* selektor baezpośredniego potomka */
li > a
{
    font-size: 20px;
    color: aqua;
}

/* Selektor elementów potomnych */
div p
{
    background: pink;
    color: blue;
    font-size: 30px;
}

/* selektor rodzeństwa bezpośredniego - działa tylko na pierwszy element*/
div p + a
{
    background: grey;
    color: bisque;
    text-transform: uppercase;
}

/* selektor rodzeństwa */
header h2 ~ h3
{
   color: blueviolet; 
    background: yellow ;
    
}
